# Supernatants to update

After take fractions from Supernatants Source tubes, we have to update the Source tubes informations. This file is a preparation for the FreezerPro update for the existing tubes.

In [4]:
import pandas as pd
import re
from IPython.display import display, Markdown, HTML

# print table without index column
def table_wo_index(df):
    table = HTML(re.sub('(<tr.*>\n) +<th>.*</th>\n', '\\1', df._repr_html_()))
    return(table)

pd.set_option('display.max_rows', 96)
pd.set_option('display.max_columns', 96)

filepath = "/Volumes/LabExMI/Users/Nolwenn/FreezerPro/DataToImport/"
filename = "Supernatants_Samples_Derivatived_F1F2_20161223.csv"
df = pd.read_csv(filepath + filename)
display(Markdown("File *%s* contains **%d** lines for **%d** columns.\n" % \
                    (filename, len(df), len(df.columns))))
display(Markdown("List of columns:"))
display(Markdown(";\n".join(["1. "+col for col in df.columns])+"."))

File *Supernatants_Samples_Derivatived_F1F2_20161223.csv* contains **12000** lines for **4** columns.

List of columns:

1. BARCODE;
1. Volume;
1. UpdateDate;
1. Edition comment.

Céline and Bruno processed 12 StimulusID in total:

1. 9;
1. 11;
1. 17;
1. 18;
1. 23;
1. 24;
1. 27;
1. 31;
1. 32;
1. 35;
1. 37;
1. 39.

Stimuli 9 and 31 were sent to RBM for analysis. For more explanation, ask Bruno and Céline.

We expect to have 12.000 unique BARCODE:

In [5]:
display(Markdown("**%d** unique BARCODE." % len(df["BARCODE"].unique())))
display(Markdown("**%d** empty BARCODE." % len(df.loc[df["BARCODE"].isnull()])))

**12000** unique BARCODE.

**0** empty BARCODE.

We expect to have 10.000 tubes with empty 'Edition comment' and 2.000 (Stimuli 9+31 * 1.000 donors) with fill 'Edition comment':

In [6]:
display(Markdown("**%d** tubes with empty 'Edition comment'." % len(df.loc[df["Edition comment"].isnull()])))
display(Markdown("**%d** tubes with fill 'Edition comment'." % len(df.loc[df["Edition comment"].notnull()])))
display(Markdown("**%d** tubes with unique fill 'Edition comment'." % \
                 len(df.loc[df["Edition comment"].notnull(), "Edition comment"].unique())))

**10000** tubes with empty 'Edition comment'.

**2000** tubes with fill 'Edition comment'.

**2000** tubes with unique fill 'Edition comment'.

Tubes volume should be of different values. If an origin tube was sent to RBM, the volume is supposed to be set at 0 on FreezerPro. We will have to decide if we keep tube data in FreezerPro or if we remove those.

In [7]:
tubespervolume = pd.DataFrame(df.groupby("Volume")["BARCODE"].count())
tubespervolume.rename(columns={"BARCODE": "Tubes"}, inplace=True)
tubespervolume.loc[:, "Volume"] = tubespervolume.index
tubespervolume.reset_index(drop=True, inplace=True)
display(tubespervolume)

   Tubes  Volume
0   2000     0.0
1  10000   200.0

Each tube should have an update date, check if all tubes have an update date assigned:

In [8]:
tubesperupdate = pd.DataFrame(df.groupby("UpdateDate")["BARCODE"].count())
tubesperupdate.rename(columns={"BARCODE": "Tubes"}, inplace=True)
tubesperupdate.loc[:, "UpdateDate"] = tubesperupdate.index
tubesperupdate.reset_index(drop=True, inplace=True)
display(tubesperupdate)
display(Markdown("**%d** tubes are assigned to an UpdateDate." % tubesperupdate["Tubes"].sum()))
display(Markdown("**%d** tubes are not assigned to an UpdateDate." % len(df.loc[df["UpdateDate"].isnull()])))

    Tubes  UpdateDate
0     288  05/09/2016
1     287  06/09/2016
2     575  07/09/2016
3     410  07/10/2016
4     576  08/09/2016
5     575  09/09/2016
6     382  19/08/2016
7     576  20/09/2016
8     863  21/09/2016
9    1151  22/09/2016
10   1152  23/08/2016
11    863  23/09/2016
12    466  24/08/2016
13    575  26/08/2016
14   1150  26/09/2016
15    576  28/09/2016
16    575  29/08/2016
17    288  29/09/2016
18    288  30/08/2016
19    384  31/08/2016

**12000** tubes are assigned to an UpdateDate.

**0** tubes are not assigned to an UpdateDate.